<%= form_with(url: "/recover/selected", method: "post", class: "d-inline") do |f| %>
  <%= f.submit "Recover selected", class: "btn btn-sm btn-success" %>
  <%= link_to 'Recover all', '/recover/all', method: :post, class: "btn btn-sm btn-success" %>

  <div class="text-center bg-light">
    <p class="h4"><i class="fas fa-cogs"></i> Running restore tasks: <span id="running-counter"><%= @running.size %></span></p>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th><input type="checkbox" id="check-all"></th>
        <th>Name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>

  <% files.each do |file| %>

  <% file_name = file.split(".")[0] %>
  <tr>
      <td><input value="<%= file_name %>" type="checkbox" name="files[]" class="form-checkbox"></td>
      <td><%= file.size > 24 ? "#{file[0,21]}..." : file %></td>
      <td class="icon-<%= file %>">
        <%= @running.include?(file) ? '<i class="fas fa-cogs"></i>'.html_safe  : '' %>
      </td>
      <td>
        <%= link_to "Create volume", "#", {class:"btn btn-success btn-sm", 'data-bs-toggle'=>"modal", 'data-bs-target'=>"#modal-#{file_name}"}  %>
        
        <%= link_to "/recover/create/#{file}/#{file_name}", method: :post, class:"btn btn-success btn-sm", title: "Quick restore", "data-bs-toggle" => "tooltip", "data-bs-placement"=>"top" do %>
        <i class="fas fa-tachometer-alt"></i>
        <% end %>
          
        <%= link_to download_path(file), target: "_blank", class:"btn btn-primary btn-sm", title: "Download file", "data-bs-toggle" => "tooltip", "data-bs-placement"=>"top" do %>
          <i class="fas fa-download"></i>
        <% end %>

        <%= link_to "/recover/delete/#{file}", method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm", title: "Delete file", "data-bs-toggle" => "tooltip", "data-bs-placement"=>"top" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </td>
  </tr>
  <% end %>
  </tbody>
  </table>
<% end %>

<% files.each do |file| %>

  <% file_name = file.split(".")[0] %>

<!-- Modal -->
<div class="modal fade" id="modal-<%= file_name %>" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new volume</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <%= form_with(url: "/recover/create", method: "post", local: true) do |form| %>

        <div class="form-group">
            <%= form.label :name, "File name" %>
            <%= form.text_field :name, value: "#{file_name}.tar", readonly: "readonly", class: "form-control"  %>
        </div>

        <div class="form-group">
            <%= form.label :volume, "New volume name" %>
            <%= form.text_field :volume, value: file_name, class: "form-control" %>
        </div>

        <div class="mt-3 actions">
            <%= form.submit "Create", class: "btn btn-success form-control" %>
        </div>
    <% end %>
    </div>
    </div>
</div>
</div>
<% end %>