<button type="button" class="btn btn-sm btn-secondary" disabled>Recover selected</button>
<%= link_to 'Recover all', '/recover/all', class: "btn btn-sm btn-success" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

<% files.each do |file| %>

<% file_name = file.split(".")[0] %>
<tr>
    <td><%= file.size > 24 ? "#{file[0,21]}..." : file %></td>
    <td class="icon-<%= file %>"></td>
    <td>
      <%= link_to "Create volume", "#", {class:"btn btn-success btn-sm", 'data-bs-toggle'=>"modal", 'data-bs-target'=>"#modal-#{file_name}"}  %>
      
      <!-- Quick backup button -->
        <%= form_with(url: "/recover/create", method: "post", class: "d-inline") do |form| %>
          <%= form.hidden_field :name, value: "#{file_name}.tar", readonly: "readonly" %>
          <%= form.hidden_field :volume, value: "#{file_name}", readonly: "readonly" %>
          <%= button_tag type: 'submit', class: "btn btn-success btn-sm", title: "Quick restore", "data-bs-toggle" => "tooltip", "data-bs-placement"=>"top" do %>
            <i class="fas fa-tachometer-alt"></i>
          <% end %>
        <% end %>
      
      <%= link_to download_path(file), target: "_blank", class:"btn btn-primary btn-sm", title: "Download file", "data-bs-toggle" => "tooltip", "data-bs-placement"=>"top" do %>
        <i class="fas fa-download"></i>
      <% end %>

      <%= link_to "/recover/delete/#{file}", method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-sm", title: "Delete file", "data-bs-toggle" => "tooltip", "data-bs-placement"=>"top" do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </td>
</tr>
<% end %>
</tbody>
</table>

<% files.each do |file| %>

  <% file_name = file.split(".")[0] %>

<!-- Modal -->
<div class="modal fade" id="modal-<%= file_name %>" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new backup file</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <%= form_with(url: "/recover/create", method: "post", local: true) do |form| %>

        <div class="form-group">
            <%= form.label :name, "File name" %>
            <%= form.text_field :name, value: "#{file_name}.tar", readonly: "readonly", class: "form-control"  %>
        </div>

        <div class="form-group">
            <%= form.label :volume, "New volume name" %>
            <%= form.text_field :volume, value: file_name, class: "form-control" %>
        </div>

        <div class="mt-3 actions">
            <%= form.submit "Create", class: "btn btn-success form-control" %>
        </div>
    <% end %>
    </div>
    </div>
</div>
</div>
<% end %>